In [1]:
#sets
n={1,2,3,1,2,4,3}
print(n)

{1, 2, 3, 4}

In [2]:
myset=set()
m={"apple","banana","cherry"}
print(m)

{'cherry', 'apple', 'banana'}

In [3]:
for i in m:
    print(i)

cherry
apple
banana

In [4]:
n

{1, 2, 3, 4}

In [5]:
n.add(5)

In [6]:
n

{1, 2, 3, 4, 5}

In [7]:
n.update([7,8,9])

In [8]:
n

{1, 2, 3, 4, 5, 7, 8, 9}

In [9]:
n.remove(2)

In [10]:
n

{1, 3, 4, 5, 7, 8, 9}

In [11]:
n.discard(7)

In [12]:
n

{1, 3, 4, 5, 8, 9}

In [13]:
n.pop()

1

In [14]:
n

{3, 4, 5, 8, 9}

In [15]:
#n.clear() #empty set

In [16]:
a={1,2,3,4}
b={3,4,5,6}
print(a|b)

{1, 2, 3, 4, 5, 6}

In [17]:
print(a&b)

{3, 4}

In [18]:
print(a^b)

{1, 2, 5, 6}

In [19]:
n

{3, 4, 5, 8, 9}

In [20]:
print(5 in n)

True

In [21]:
print(11 in n)

False

In [22]:
print(11 not in n)

True

In [23]:
#dictionaries
dt={}

student={
    "name":"sadique",
    "age" :24,
    "marks":45
}

print(student)

{'name': 'sadique', 'age': 24, 'marks': 45}

In [24]:
print(student["name"])

sadique

In [25]:
print(student.get("marks"))

45

In [26]:
student["rollno"]=23

In [27]:
print(student)

{'name': 'sadique', 'age': 24, 'marks': 45, 'rollno': 23}

In [28]:
student.pop("age")

24

In [29]:
student

{'name': 'sadique', 'marks': 45, 'rollno': 23}

In [30]:
student.popitem()

('rollno', 23)

In [31]:
student

{'name': 'sadique', 'marks': 45}

In [32]:
del student["name"]

In [33]:
student

{'marks': 45}

In [34]:
#student.clear()

In [35]:
#dictionaries
dt={}

student={
    "name":"sadique",
    "age" :24,
    "marks":45
}

print(student)

{'name': 'sadique', 'age': 24, 'marks': 45}

In [36]:
for i in student:
    print(i)

name
age
marks

In [37]:
for i in student.values():
    print(i)

sadique
24
45

In [41]:
for i,j in student.items():
    print(i,":",j)

name : sadique
age : 24
marks : 45

In [42]:
sq={x:x*x for x in range(1,6)}
print(sq)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [43]:
n=[4,5,6,7,9,8]

s=0
for i in n:
    s=s+i
print(s)

39

In [44]:
a=[3,5,6,7,5]

for i in a:
    print(i)

3
5
6
7
5

In [45]:
#iter() and next()

it=iter(a)
print(next(it))

3

In [46]:
print(next(it))

5

In [47]:
print(next(it))

6

In [48]:
word="helooworld"
print(word)

helooworld

In [49]:
for i in word:
    print(i)

h
e
l
o
o
w
o
r
l
d

In [50]:
#enuumerate()
z=["apple","banana","mango"]

for i,j in enumerate(z):
    print(i,j)

0 apple
1 banana
2 mango

In [52]:
for i,j in enumerate(z,start=1):
    print(i,j)

1 apple
2 banana
3 mango

In [53]:
for i,j in enumerate(z,start=5):
    print(i,j)

5 apple
6 banana
7 mango

In [54]:
c=[10,30,50]
print(list(enumerate(c)))

[(0, 10), (1, 30), (2, 50)]

In [55]:
word="helooworld"

for i,j in enumerate(word):
    print(i,j)

0 h
1 e
2 l
3 o
4 o
5 w
6 o
7 r
8 l
9 d

In [56]:
#enuumerate()
z=["apple","banana","mango"]

for i,j in enumerate(z):
    if j=="mango":
        print("mango found at index",i)

mango found at index 2

In [57]:
#enuumerate()
z=["apple","banana","mango"]

for i,j in enumerate(z):
    if j=="cherry":
        print("cherry found at index",i)

In [58]:
#zip
n=["a","b","c"]
m=[4,7,3]
z=zip(n,m)

print(list(z))

[('a', 4), ('b', 7), ('c', 3)]

In [59]:
n=["a","b","c"]
m=[4,7,3]

for i,j in zip(n,m):
    print(i,j)

a 4
b 7
c 3

In [60]:
n=["a","b","c"]
m=[4,7,3]

print(list(zip(n,m)))

[('a', 4), ('b', 7), ('c', 3)]